
.app-nav {
  .logo {
    height: auto;
    margin: 16px;
    text-align: center;

    img {
        width: 75px;
      }

    &.collapsed {
      img {
        width: 50px;
      }
    }
  }

  .menu-wrapper {
    min-height: 96px;
  }
}
